@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.films::-webkit-scrollbar {
    width: 5px;
    background: rgb(0, 0, 0);
}
.films::-webkit-scrollbar-thumb {
    background-color:rgb(51, 51, 51);
    border-radius: 20px;
    width: 2px;
}
body {
    height: 1200px;
    background: rgb(29, 29, 29);
     opacity: 0;
     animation: opacity 2s ease 1 forwards;
     background: url(../../images/hh.jpg);
     background-size: cover;
}
@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* ************************************************ */
.search button {
    right: 12px;
    top: 0;
}
.search input:focus {
    outline: none;
}
.film-img::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     background: linear-gradient(0deg , black,transparent);
     width: 100%;
     height: 0;
     transition: height .5s;
}
.film-info {
    bottom: -33%;
    left: 7%;
    color: white;
    z-index: 999;
    transition: all .4s;
}
.film-img:hover::after {
    height: 100%;
}
.film:hover .film-info {
    bottom: 3%;
}
.film:hover{
    transform: scale(1.06);
}
.film-info:hover .film-img::after {
    height: 100%;
}
#like {
    position: absolute;
    bottom: -10%;
    right: 7%;
    color: white;
    font-size: 22px;
    transition: all .4s;
}
#like:hover {
    color: red;
}
.film:hover #like {
    bottom: 7%;
}

@media (min-width:0px) and (max-width:600px){
    .films::-webkit-scrollbar {
        display: none;
    }    
}